.get-in-touch {
  display: flex;

  & > * {
    margin: 4px;
  }
}
a {
  text-decoration: none;
  color: unset;
  color: black;
}
@media (max-width: 800px) {
  .get-in-touch {
    position: relative;
    left: -38px;
  }
}
