.container {
  background-image: url("/images/hero.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  .fake-div {
    transition: height 0.3s ease-in-out;
    height: 0;
    &.shows {
      height: 136px;
    }
  }
}
#checkbox {
  position: fixed;
  top: 5px;
  right: 18vw;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  width: 82px;
  height: 28px;
  background: black;
  border-radius: 22px;
  cursor: pointer;
  outline: none;
  z-index: 11;
}
#checkbox::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 24px;
  background-color: white;
  border-radius: 35px;
  top: 2px;
  left: 2px;
  cursor: pointer;
  transition: 0.3s linear;
}
#checkbox:checked + .container {
  background: rgb(19, 18, 18);
  color: white;
  .side-bar {
    background: rgb(49, 49, 49);
  }
  background: rgb(19, 18, 18);
  color: white;
}
#checkbox:checked::before {
  left: 40px;
}
#checkbox:checked {
  background: rgb(12, 177, 81);
}
@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }
}
