@font-face {
  font-family: EBGaramand-semi-bold;
  src: url("../fonts/EBGaramond/EBGaramond-SemiBold.ttf");
}
@import "./cmps/AppHeader";
@import "./cmps/Clock";
@import "./cmps/Home";
@import "./cmps/GetInTouch";
@import "./cmps/SideBar";
@import "./cmps/Portfolio";
@import "./cmps/Project";
@import "./cmps/About";
@import "./cmps/ContactMe";

body {
  font-size: 1.2rem;
}
ul {
  padding: 0;
}
